*{
    color: rgb(33, 38, 79);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
button {
    background-color: rgb(160, 212, 230);
    border: 2px solid rgb(33, 38, 79);
    padding: 3px 6px;
    font-size: 1.5em;
    border-radius: 5px;
}
input {
    border: none;
    font-size: 1.5em;
    padding: 3px 8px;
    text-align: center;
}
h1 {
    background-color: rgb(160, 212, 230);
    font-size: 4em;
    padding: 20px;
    text-align: center;
}
.container {
    /* background-color: rgb(238, 186, 108); */
    background-color: rgb(250, 190, 98);
    display: flex;
    border-top: 10px solid white;
}
.vault-pic{
    width: 50%;
    border-left: 5px solid white;
}
.vault-pic img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: cover; */
}
.control-panel{
    width: 50%;
    border-right: 5px solid white;
}

